/* Define global styles for the about section */
.aboutSection {
  padding: 80px 0;
  text-align: center;
  color: aliceblue;
}

.aboutContainer {
  max-width: 70%;
  margin: 0 auto;
}

/* Styling for the main about me content */
.aboutMe {
  margin-bottom: 40px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

/* Zoom and shadow on hover */
.aboutMe:hover {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

/* Styling for section boxes */
.sectionBox {
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Change background color and shadow on hover */
.sectionBox:hover {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

/* Styling for headings */
.subHeading {
  color: #ffffff;
}

/* Styling for paragraphs */
.paragraph {
  color: #fff9f9;
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .aboutContainer {
    padding: 0 20px;
  }
}
