/* styles/Navbar.module.css */

.navbar {
  background-color: transparent !important;
  padding: 10px 0;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: flex-end !important; /* Align items to the right */
}

.navItem {
  margin: 0;
  padding: 0;
  position: relative;
}

.navItem a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 18px;
  transition: color 0.2s, text-shadow 0.2s;
}

.navItem a:hover {
  color: #ffd700;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* Glowing effect */
  transform: scale(1.05); /* Enlarge on hover */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 160px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Apply blur effect to dropdown */
}

.navItem:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.2s ease-in-out;
}

.dropdown-item {
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s, color 0.2s, text-shadow 0.2s;
}

.dropdown-item:hover {
  background-color: #555;
  color: #ffd700;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* Glowing effect */
}

/* Enlarge the hovered link */
.navItem a:hover {
  transform: scale(1.2); /* Adjust the scale value as needed */
}

/* Fade-in Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
